---
import Layout from '../../layouts/Layout.astro';
import ReceiveForm from '../../components/ReceiveForm';

export function getStaticPaths() {
  return [];
}

const { id } = Astro.params;
---

<Layout title="MLA-Transfert - Reception">
  <div class="text-center mb-10">
    <h2 class="text-3xl font-bold mb-4">Vous avez recu un fichier securise</h2>
    <p class="text-gray-400">Entrez le mot de passe ou importez vos cles pour dechiffrer.</p>
  </div>
  <ReceiveForm client:load transferId={id!} />
</Layout>
