name: Ensure repository healthy state over time

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:


env:
  CARGO_TERM_COLOR: always

jobs:
  bindings-headers-sync:
    # Assert .h and .hpp bindings files are the ones generated
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
      with:
        toolchain: stable
    - uses: actions-rs/cargo@ae10961054e4aa8b4aa7dffede299aaf087aa33b # v1.0.1
      with:
        command: install
        args: cbindgen
    - name: Test C header
      working-directory: bindings/C
      run: cbindgen --config cbindgen_c.toml | diff - mla.h
    - name: Test C++ header
      working-directory: bindings/C
      run: cbindgen --config cbindgen_cpp.toml | diff - mla.hpp

  changelog-format:
    # Ensure CHANGELOGs respect the KeepAChangelog format
    strategy:
      matrix:
        changelog: [mla, mlar]
        include:
          - changelog: mla
            path: mla
          - changelog: mlar
            path: mlar

    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Get ${{ matrix.changelog }} Changelog Entry
      uses: mindsers/changelog-reader-action@32aa5b4c155d76c94e4ec883a223c947b2f02656 # v2.2.3
      id: changelog_reader
      with:
        # Check format for the last 10 entries
        validation_depth: 10
        path: ${{ matrix.path }}/CHANGELOG.md
    - name: Information
      run: |
          echo -e "\e[1mVersion\e[0m ${{ steps.changelog_reader.outputs.version }}"
          echo -e "\e[1mStatus\e[0m ${{ steps.changelog_reader.outputs.status }}"
          echo -en "\e[1mBody\e[0m"
          cat << 'EOF'
          ${{ steps.changelog_reader.outputs.changes }}
          EOF
